<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}} - Enterprise AI Playbook</title>
<link rel="icon" type="image/svg+xml" href="{{basePath}}/static/img/logo-gold.svg">
<link rel="icon" type="image/png" sizes="32x32" href="{{basePath}}/static/img/icon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{basePath}}/static/img/icon-16.png">
<link rel="icon" type="image/x-icon" href="{{basePath}}/static/img/favicon.ico">
<link rel="apple-touch-icon" href="{{basePath}}/static/img/apple-touch-icon.png">
<meta name="description" content="{{description}}">
<meta name="author" content="Sunil Prakash">
<meta name="robots" content="index,follow,max-snippet:-1,max-image-preview:large">
<link rel="canonical" href="https://sunilprakash.com/enterprise-ai/{{canonicalPath}}">
<link rel="alternate" type="text/plain" href="{{basePath}}/static/llms.txt" title="LLMs Profile">
{{ogTags}}
{{jsonLd}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{basePath}}/css/obsidian.css">
<link rel="stylesheet" href="{{basePath}}/css/focus.css">
{{showcaseCss}}
<!-- GA4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KDCBS18GZ"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','G-4KDCBS18GZ');</script>
