<!DOCTYPE html>
<html lang="en">
<head>{{> head}}</head>
<body class="assessment atmosphere" data-section="Assessment" data-page="assessment"{{hasMermaidAttr}}>
<a href="#main-content" class="skip-link">Skip to content</a>
{{> nav}}
<main id="main-content" class="assessment-content">
<div id="assessment-app"></div>
</main>
{{> footer}}
{{> particles}}
{{> engagement}}
<script src="{{basePath}}/js/vendor/d3.v7.min.js"></script>
<script src="{{basePath}}/js/pages/assessment.js" type="module"></script>
</body>
</html>
